@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.App {
  text-align: center;
  max-width: 100vw;
  
}

.text-orange{
  color: tomato;
}


.wave-1{
  min-width: 100vw !important;
}




.light-fix{
  position: absolute;
  top: -50px;
  left: 1400px;
  z-index: 0
}

@media only screen and (max-width: 1550px){
  .light-fix{
    display: none;
  }
}


.Nav{
  background: transparent !important;
  position: fixed;
  top: 0;
  width: 100%;
  padding-right: 0px;
  z-index: 2;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-right: 0.6rem;
  list-style-type:none;
  font-size: larger;
}

.links{
  color: white;
}




.Jumbotron{
  background: transparent;

  
}




.landing-container{
  position: absolute;
  top: 300px;
  left: -100px
}

.name-col{
  margin-left: 300px;
  text-align: left;
}

.landing-name{
  font-size: 70px;
  font-family: 'Roboto', sans-serif;
}

.landing-desc{
  background: transparent;  
}

@media only screen and (max-width: 1000px){
  .name-col{
    text-align: left;
    margin-left: 100px;
    justify-content: center;
  }
  .landing-container{
    top: 100px;
    left: 0
  }
  
}

@media only screen and (max-width: 770px){
  .name-col{
    margin-left: 50px;
    justify-content:center;
  }
  .landing-container{
    top: 100px;
    left: 0
  }
  
}

@media only screen and (max-width: 500px){
  .landing-name{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
  }
  .nav-small{
    margin-left: 10px !important;
    margin-right: 10px !important;
    color: tomato !important;
    
  }

  .nav-icon{
    margin-right: 0px;
    padding-left: 0px;

  }

  .navbar ul {
    display: flex;
    text-align: center;
    margin-right: 0rem;
    list-style-type:none;
    font-size: larger;
    margin-left: 0px;
    padding-left: 0px;
  }
  
  .endlink{
    margin-right: 30px;
  }

  .Nav{
    opacity: 0.6;
    background: black !important;
    position: fixed;
    top: 0;
    width: 100%;
    padding-right: 0px;
    z-index: 2;
  }
  

}


@media only screen and (max-width: 366px){
  .nav-icon{
    display: none;
  }
  
  .nav-small{
    padding-left: 10px !important;
    margin-right: 10px !important;
  }
  .name-col{
    padding-left: 0px;
  }
  
}

.page-1{
  /* background-image: url('./img/png1.png'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: static;
  height: 85vh;
  width: 100vw !important;
  background: transparent;
  
}

.page-2{
  background-image: url('./img/ani10.svg') ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  width: 100vw;
}



.project-header{
  font-size: 150px;
  letter-spacing: 15px;
  margin-bottom: 400px;
  padding-top: 200px
}

.row-proj1{
  margin-bottom: 400px;
}

@media only screen and (max-width: 668px){
  .project-header{
    font-size: 40px;
    letter-spacing: 15px;
    margin-bottom: 150px;
    padding-top: 200px
  }

  .row-proj1{
    margin-bottom: 200px;
  }

}











.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* /// */
.image {
  position: relative;
  
}

.image__img{
  
  height: auto;
  min-width: 100px;
  max-width: 40vw;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    box-shadow: 10px 10px;
  border: thin solid black;
}

@media only screen and (max-width: 1000px){
  .image__img{
    
    height: auto;
    min-width: auto;
    max-width: 70vw;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%); 
 
  }
}

.image__img:hover{
  backdrop-filter: blur(5px);
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  color: tomato;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image__overlay--blur {
  backdrop-filter: blur(5px);
}

.image__overlay--primary {
  background: #009578;
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

.image__title {
  font-size: 2em;
  font-weight: bold;
}

.image__description {
  font-size: 1.25em;
  margin-top: 0.25em;
  color: tomato;
}




.page-3{
  background-image: url('./img/ani11.svg') ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.contact-form{
  text-align: left;
  width: auto;
  color: black;
  padding: 30px;
  border-radius: 0px;
}


.social-buttons{
  width: 400px;
  border-radius: 0px;

}

.social-buttons1{
  width: 400px;
  background-color: rgb(7, 143, 153);
  border: 0px transparent;
  border-radius: 0px;
  margin-bottom: 50px;
}


  



@media only screen and (max-width: 400px){
  .social-buttons1{
    width: 150px;
    border-radius: 0px;
    margin-bottom: 50px;
  }

  }
  



.social-head{
  margin-bottom: 110px;
}

.row-contact{
  background: gray ;
  border: thin solid black;
  box-shadow: 10px 10px;
}

.input-contact{
  border-radius: 0px;
}

.footer{
  background-color: black;
  color: whitesmoke;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home, #projects, #contact{
  overflow-y: scroll;
  scroll-behavior: smooth;
}